
  <div id ="editForm">
    <form class="grumbleForm">
      <input type="text" name="title" value="{{ title }}">
      by: <input type="text" name="start" value="{{ start }}">
      <textarea name="end">{{ end }}</textarea>
      <input type = "text" name="distance" value= "{{distance}}">
      <button class="submit">Submit</button>
      <button class="cancel">Cancel</button>
    </form>
</div>
