<!DOCTYPE html>
<html>
<head>
  <script src='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=Fira+Sans' rel='stylesheet' type='text/css'>
  <title>Tred</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div>
  <nav id="nav">
    <ul id="nav-items">
        <li id="account-info"><a href="#"> Sign out</a></li>
        <li id="account-info"><a href="#"> | My Account</a></li>
    </ul>
  </nav>
</div>

<div id='map' class='dark'></div>


<%= yield =%>

</body>
</html>
