<!DOCTYPE html>
<html>
<head>
  <script src="https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.css" rel="stylesheet" />
  <link href="https://api.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/css/font-awesome.min.css" rel="stylesheet" />
  <script src='https://api.mapbox.com/mapbox.js/plugins/mapbox-directions.js/v0.3.0/mapbox.directions.js'></script>
  <link rel='stylesheet' href='https://api.mapbox.com/mapbox.js/plugins/mapbox-directions.js/v0.3.0/mapbox.directions.css' type='text/css' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <title>Tred</title>
  <%= stylesheet_link_tag    "application", media: "all"%>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- //navbar -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="logo" href="#">Tred<i class="fa fa-bicycle"></i>Tracker</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right" id="nav-items">
        <i class="fa fa-info-circle"></i>
        <div id="intro"><p>Welcome to Tred Tracker. The purpose of this application is to keep track of all of your bike rides. Simply plug in start and stop points and let the app determine the miles you've travelled and estimate the time it took you. When you save a ride, you will have the option to change the information manually. If you'd like to make an edit to a ride after saving it, simply double click it on your rides table. The map choices also allow you to keep track of walks and drives, if that is something you'd like to do. You may tinker around on the site without logging in, but in order to save and keep track of all of your rides- please sign in with your twitter account. Happy riding.</p></div>

        <% if current_user %>
        <li class="twitter"><a href="/logout"><i class="fa fa-twitter"></i> Log Out</a></li>
        <% else %>
        <li class="twitter"><a href="/auth/twitter"><i class="fa fa-twitter"></i> Log in with Twitter</a></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<div id="map-ride-add">
<div class="row">
  <div class="column column-9" id="map"></div>
    <div id="inputs"></div>
    <div id="errors"></div>
    <div id="directions">Directions
      <div id="routes"></div>
        <button class="btn btn-xs" id="save">Save Ride</button>
      <div id="instructions"></div>
    </div>
  </div>

<!-- //new ride modal - only shown when new ride clicked -->
  <div class="column column-3" id="new-ride-modal">
    <span class="close">[x]</span>
    <h2>New Ride</h2>
    <div class="new-ride">
        <input id="date" placeholder="Date"></input>
        <input id="title" placeholder="Title"></input>
        <input id="start" placeholder="Origin" value=""></input>
        <input id="end" placeholder="Destination"></input>
        <input id="distance" placeholder="Total Miles"></input>
        <input id="time" placeholder="Ride Time"></input>
      <button class="submit">Add</button>
    </div>
  </div>
</div>

<div class="row">
  <div class="column column-10" id="table">
    <table id="table">
    <thead>
      <th>Date</th>
      <th>Title</th>
      <th>Origin</th>
      <th>Destination</th>
      <th>Distance</th>
      <th>Time</th>
    </thead>
  </table>
  </div>
</div>

<table id="tableRides"></table>

<%= yield =%>

</body>
</html>
