<!DOCTYPE html>
<html>
<head>
  <script src='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=Fira+Sans' rel='stylesheet' type='text/css'>
  <title>Tred</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>Tred<i class="fa fa-bicycle"></i>Tracker</h1>
  <div>
  <nav id="nav">
    <ul id="nav-items">
        <li id="account-info"><a href="#"> Sign out</a></li>
        <li id="account-info"><a href="#"> | My Account</a></li>
    </ul>
  </nav>
</div>

<div class="row">
  <div class="column column-9" id="map"></div>
  <div class="column column-3" id="createRide">
    <form id="rideForm">
      <h2>New Ride:</h2>
      <div class="formContainer">
        <input id="start" placeholder="Start Point"></input>
        <input id="end" placeholder="End Point"></input>
        <input id="distance" placeholder="Distance"></input>
        <input id="time" placeholder="0 hrs: 00 minutes"></input>
        <input id="title" placeholder="Name This Ride"></input>
        <button class="submit">Submit</button>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="column-12">
    <table id="tableRides">
      <thead>
        <tr>
          <th>Title</th>
          <th>Start</th>
          <th>End</th>
          <th>Distance</th>
          <th>Time</th>
          <th>Notes</th>
        </tr>
      <tbody>
        <tr id="rideRow">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
      </thead>
    </table>
  </div>

<%= yield =%>

</body>
</html>
