<!DOCTYPE html>
<html>
<head>
  <script src='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=Fira+Sans' rel='stylesheet' type='text/css'>
  <title>Tred</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- //navbar -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Tred<i class="fa fa-bicycle"></i>Tracker</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right" id="nav-items">
        <% if current_user %>
        <li id="account-info"><a href='/logout'><i class="fa fa-twitter"></i> Log Out</a></li>
        <% else %>
        <li id="account-info"><a href="/auth/twitter"><i class="fa fa-twitter"></i> Log in with Twitter</a></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<div class="row">
  <div class="column column-9" id="map"></div>
  <div class="column column-3" id="createRide">
    <form id="rideForm">
      <h2>New Ride:</h2>
      <div class="formContainer">
        <input id="start" placeholder="Start Point"></input>
        <input id="end" placeholder="End Point"></input>
        <input id="distance" placeholder="Distance"></input>
        <input id="time" placeholder="0 hrs: 00 minutes"></input>
        <input id="title" placeholder="Name This Ride"></input>
        <button class="submit">Submit</button>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="column-12">
    <table id="tableRides"></table>
  </div>

<%= yield =%>

</body>
</html>
